/* Questoes */

.cardQuestao {
  background: linear-gradient(to right, #c7a24d 0%, #f5eba8 50%, #c7a24d 100%);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #888686;
}

.cardQuestao:hover {
  box-shadow: 0 4px 8px rgba(223, 191, 8, 0.493);
}

.pesquisa {
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863);
  font-size: 16px;
  box-sizing: border-box;
}

.filtroDiv {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.cardList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Respostas das questões */

.container .option {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #2c2b2b;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.alternativa {
  cursor: pointer;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.alternativa:hover {
  background-color: #f5f5dc;
}

.selecionada {
  background-color: #ffe58a;
  border-color: #ffc107;
}

.bullet {
  color: #555;
  font-weight: bold;
  margin-right: 0.5rem;
}

.hiddenRadio {
  display: none;
}

.feedback {
  margin-top: 1rem;
  font-weight: bold;
}
