/* Questoes */

.cardQuestao {
  background: linear-gradient(90deg, #f5e7b2 0%, #d4af37 100%);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 600px;
  height: 100px;
  margin-bottom: 1rem;
}

.cardQuestao:hover {
  box-shadow: 0 4px 8px rgba(223, 191, 8, 0.493);
}

.cardList {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Respostas das questões */

/* .container h2 {
  font-size: 20px;
  text-align: start;
} */

/* .container p {
  font-size: 28px;
} */

.container .option {
  display: block;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #2c2b2b;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.option:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #e0ba10;
  border-color: #0f5132;
}

.hiddenRadio {
  display: none;
}

.feedback {
  margin-top: 1rem;
  font-weight: bold;
}
