/* Tabs */
.tabHeader {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabButton {
  background: none;
  background-color: #f0f0f0;
  color: #677e5a;
}

.tabButton:hover {
  background: none;
  background-color: #706f6f;
  box-shadow: none;
  color: white;
}

.active {
  background: none;
  background-color: #706f6f;
  color: rgb(247, 247, 247);
}

/* Lista de cursos */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.newButton {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ebbb0f;
  color: black;
  text-decoration: none;
  border-radius: 4px;
}

.newButton:hover {
  background-color: #d6c210;
  box-shadow: 0 6px 12px rgba(212, 175, 55, 0.7);
  transform: scale(1.2);
}

.card {
  background: linear-gradient(to right, #c7a24d 0%, #f5eba8 50%, #c7a24d 100%);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 90%;
}

.actions button {
  margin-left: 0.5rem;
}

.actions button:hover {
  transform: scale(1.2);
}

.editar {
  background: none;
  background-color: greenyellow;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
}

.remover {
  background: red;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
}

.selectCargo {
  padding: 6px;
  margin-top: 4px;
  border-radius: 6px;
  font-size: 1rem;
}
.textoAdmin {
  font-style: italic;
  color: gray;
}
