/* components/Navbar.css */
.navbarTop {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  font-size: 28px;
  margin-bottom: 1rem;
}

.navbarActions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbarActions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.toggleButton {
  position: absolute;
  left: 5px;
  top: 1px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  z-index: 1000; /* bem acima do iframe */
  display: block; /* visível no mobile */
}

@media (min-width: 900px) {
  .toggleButton {
    display: none;
  }
}

/* components/Sidebar.css */
.sidebar {
  background: linear-gradient(to right, #c7a24d 0%, #f5eba8 50%, #c7a24d 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar button {
  box-shadow: none;
  border: none;
  background: none;
  margin-bottom: 1rem;
  color: black;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar button:hover {
  font-weight: bolder;
  background: linear-gradient(to right, #c7a24d 0%, #f5eba8 50%, #c7a24d 100%);
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863);
}

.activeButton {
  border: 1px solid rgb(160, 160, 160) !important;
  box-shadow: 0 4px 8px rgba(170, 170, 170, 0.863) !important;
  font-weight: bolder;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.layout {
  display: flex;
}

.sidebarWrapper {
  position: relative;
  transition: width 0.3s;
  display: flex;
  align-items: start;
}

.sidebarOpen {
  width: 160px; /* largura cheia */
}

.sidebarClosed {
  width: 0px; /* quando escondido */
}

.mainContent {
  flex: 1;
  padding: 1rem;
  transition: margin-left 0.3s;
}
