/* Cursos */
.container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.mensagem {
  color: green;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formGroup {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

input,
textarea {
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.addBtn {
  background-color: #28a745;
  margin: 0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.aula input {
  flex: 1;
}

.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.aula {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: stretch;
}

button {
  margin: 0;
}

.removerBtn {
  margin: auto 0;
  background-color: rgb(236, 17, 17);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  align-self: flex-start;
  height: 40px;
}
.removerBtn:hover {
  background-color: rgb(158, 35, 35);
}

.voltarBtn {
  margin-top: 1rem;
  background-color: #6c757d;
}

.voltarBtn:hover {
  background-color: #314658;
}

/* Questões */
.form {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.textarea,
.select {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.select {
  height: 2.5rem;
  font-size: 1rem;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.button,
.voltarBtn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.button {
  background-color: #28a745;
  color: white;
}

.button:hover {
  background-color: #218838;
}

.voltarBtn {
  background-color: #6c757d;
  color: white;
}

.voltarBtn:hover {
  background-color: #495057;
}

.actions {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.mensagem {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
